<!-- header -->
<div class="jumbotron text-center mb-0"><h1>JEONG YEON WOOK</h1>
    <p>Site 사이트 サイト!</p></div>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark"><a href="#" class="navbar-brand">무야호!</a>
    <!-- Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="#" class="nav-link">목록</a></li>
            <li class="nav-item"><a href="#" class="nav-link">할일 </a></li>
            <li class="nav-item"><a href="#" class="nav-link">비고 </a></li>
        </ul>
    </div>
</nav>
<hr color="green" size="1px">
