<!-- header -->
<div class="jumbotron text-center mb-0"><h1>生意気な JEONG YEON WOOK</h1>
    <p>SCIT MASTER 의 귀염둥이  이창원을 소개합니다!</p></div>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark"><a href="#" class="navbar-brand">무야호!</a>
    <!-- Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="#" class="nav-link">이창원의 귀여운사진</a></li>
            <li class="nav-item"><a href="#" class="nav-link">이창원의 섹시한사진</a></li>
            <li class="nav-item"><a href="#" class="nav-link">이창원의 건방진코노야로</a></li>
        </ul>
    </div>
</nav>
