<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <!--style css 불러와 추가-->
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="center">
    <div th:insert="common/header" id="header"></div>
    <h2 th:text="${boardDto.title}"></h2>
    <p th:inline="text">作成日 : [[${#temporals.format(boardDto.createdDate, 'yyyy-MM-dd HH:mm')}]]</p>
    <p th:text="${boardDto.content}"></p>


    <!-- 수정/삭제 -->
    <div>
        <a th:href="@{'/post/edit/' + ${boardDto.id}}">
            <button>Update</button>
        </a>

        <form id="delete-form" th:action="@{'/post/' + ${boardDto.id}}" method="post">
            <input type="hidden" name="_method" value="delete"/>
            <button id="delete-btn">Delete</button>
        </form>
    </div>
</div>

<!-- 변수 셋팅 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var boardDto = /*[[${boardDto}]]*/ "";
    /*]]>*/
</script>

<!-- script -->
<script th:inline="javascript" th:src="@{/js/board.js}"></script>

<div th:insert="common/footer" id="footer"></div>
</body>
</html>