<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <h1>MyInformation Setting.</h1>
    <!--style css 불러와 추가-->
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<div class="center">
    <div th:insert="common/header.html" id="header"></div>
</div>
<body>
<table>
    <tbody>
    <td>
        <tr>
            <th>名　前</th>
            <th>年　齢</th>
            <th>住　所</th>
        </tr>

    </td>

    </tbody>
</table>
</body>
<div th:insert="common/footer.html" id="footer"></div>